<h1>Sign In</h1>

<mat-card class="form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="lifter@gmail.com" formControlName="email">
      <mat-error>Must be valid email address.</mat-error>
    </mat-form-field><br>
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password">
      <mat-error class="pw-error">Minimum 8 characters and at least 1 lowercase, uppercase, number, and symbol</mat-error>
    </mat-form-field><br>
    <button type="button" mat-button class="bottom-margin" color="accent" class="small-button">Forgot password</button><br>
    <button mat-raised-button color="accent" class="bottom-margin" [disabled]="form.invalid">Login</button>
    <p>No WFL account?</p>
    <button type="button" mat-stroked-button routerLink="/signup" color="accent">Sign Up</button>
  </form>
</mat-card>
