h1 {
  text-align: center;
}

a {
  display: block;
  margin-bottom: 16px;
}

p {
  text-align: center;
}

mat-form-field {
  width: 100%;
}

button {
  width: 100%;
}

.form {
  background-color: #444;
  color: white;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 80px;
  padding: 16px;
}

.bottom-margin {
  margin-bottom: 24px;
}

.mat-stroked-button {
  border: solid white 1px;
}

.small-button {
  width: auto;
  margin: 0;
  padding: 0;
  position: relative;
  top: -32px;
}
