<h1>Cycles</h1>

<div>

<button mat-raised-button color="accent" (click)="openCycleDialog(0)" aria-label="add cycle"><mat-icon>add</mat-icon></button>
<mat-table [dataSource]="cycles">

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let cycle" (click)="openCycleDialog(cycle.id)" class="clickable">{{ cycle.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="modified">
    <mat-header-cell *matHeaderCellDef>Modified Date</mat-header-cell>
    <mat-cell *matCellDef="let cycle">{{ cycle.modified | date }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="workoutCount">
    <mat-header-cell *matHeaderCellDef>Workout Count</mat-header-cell>
    <mat-cell *matCellDef="let cycle">{{ cycle.workoutCount }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

</div>
