
<form mat-dialog-content #myForm="ngForm" (ngSubmit)="onSubmit()">
  <mat-form-field color="accent">
    <mat-label>Workout Date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="date" name="date" required [disabled]="isEditMode">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error>Date is required.</mat-error>
  </mat-form-field>
  <div class="flex">
    <span class="col-header">
      Sets
    </span>
    <span class="spacer"></span>
    <span class="col-header">
      Completed Reps
    </span>
  </div>
  <div *ngFor="let group of groups">
    <div *ngIf="group.sets.length > 0">
      <mat-divider></mat-divider>
      <p>{{group.name}}</p>
      <div *ngFor="let set of group.sets; index as i" class="flex">
        <button mat-icon-button color="accent" (click)="group.sets.splice(i, 1)" aria-label="delete set"><mat-icon>delete</mat-icon></button>
        <span>
          {{set.weight}}
        </span>
        <span>
          {{set.unit}}
        </span>
        <span class="spacer"></span>
        <span>
          {{set.reps}}
        </span>
        <span>
          reps
        </span>
        <span class="spacer"></span>
        <input matInput class="completed-reps" [(ngModel)]="set.completed" [name]="set.exercise + i" pattern="^\d+$" aria-label="completed reps">
      </div>
    </div>
  </div>
  <button type="button" mat-mini-fab (click)="openSetDialog()" aria-label="add set"><mat-icon>add</mat-icon></button>
  <mat-divider></mat-divider>
  <button type="submit" mat-raised-button color="accent" [disabled]="myForm.invalid" mat-dialog-close="output">Save</button>
  <button type="button" mat-raised-button color="accent" (click)="openDeleteDialog()"><mat-icon>delete</mat-icon>Delete Workout</button>
  <button mat-button mat-dialog-close>Cancel</button>
</form>
