<div class="flex border">
  <a class="month" (click)="monthBack()">&lt;</a>
  <span class="spacer"></span>
  <h2>{{ months[selectedMonth].name }} {{ selectedYear }}</h2>
  <span class="spacer"></span>
  <a class="month" (click)="monthForward()">&gt;</a>
</div>
<div>
  <table>
    <thead>
      <th>
        Su
      </th>
      <th>
        Mo
      </th>
      <th>
        Tu
      </th>
      <th>
        We
      </th>
      <th>
        Th
      </th>
      <th>
        Fr
      </th>
      <th>
        Sa
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let week of weeks">
        <td *ngFor="let day of week">{{ day }}</td>
      </tr>
    </tbody>
  </table>
</div>
