<h1>Workouts</h1>

<div class="flex">
  <button mat-button routerLink="/free/workouts/calendar" routerLinkActive="active" class="mobile-fix">Calendar</button>
  <button mat-button routerLink="/free/workouts/list" routerLinkActive="active">List</button>
  <span class="spacer"></span>
  <mat-form-field appearance="outline" color="accent">
    <mat-label>Cycle</mat-label>
    <mat-select [(value)]="selectedCycle.id" (selectionChange)="onSelectionChange()">
      <mat-option *ngFor="let cycle of cycles" [value]="cycle.id">{{ cycle.name }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div>
  <router-outlet></router-outlet>
</div>
