<h1>Workouts</h1>

<div>
  <mat-form-field appearance="outline" color="accent">
    <mat-label>Cycle</mat-label>
    <mat-select [(value)]="selectedCycleId" (selectionChange)="onSelectionChange()">
      <mat-option *ngFor="let cycle of cycles" [value]="cycle.id">{{ cycle.name }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div>
  <mat-tab-group color="accent">
    <mat-tab label="Calendar">
      <div class="margin-top">
        <app-workouts-calendar></app-workouts-calendar>
      </div>
    </mat-tab>
    <mat-tab label="List">
      <div class="margin-top">
        <app-workouts-list></app-workouts-list>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
