h1 {
  text-align: center;
}

a {
  margin-right: 16px;
}

label {
  margin-right: 16px;
}

.mat-button {
  height: 32px;
  margin-top: 16px;
  background: #4f9b94;
  color: black;
  margin-right: 8px;
}

.active {
  border: solid #b2fff7 2px;
  background: #80ccc4;
}

.mobile-fix {
  width: 90px;
}

.mat-form-field {
  width: 100%;
}
