<h1>Workouts</h1>

<div class="flex">
  <button mat-button routerLink="/free/workouts/calendar" routerLinkActive="active">Calendar</button>
  <button mat-button routerLink="/free/workouts/list" routerLinkActive="active">List</button>
  <span class="spacer"></span>
  <mat-form-field appearance="outline" color="accent">
    <mat-label>Cycle</mat-label>
    <mat-select>
      <mat-option value="free">Free</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div>
  <router-outlet></router-outlet>
</div>
