<mat-toolbar class="header flex" color="primary">
  <div class="title">
    <h1>WFL</h1>
    <caption>WigeDev Fitness Log</caption>
  </div>
  <span class="spacer"></span>
  <ul class="navigation">
    <li><matButton routerLink="/home" routerLinkActive="active">Home</matButton></li>
    <li><matButton routerLink="/signin" routerLinkActive="active">Sign In</matButton></li>
  </ul>
  <ul class="navigation">
    <li>
      <button mat-button [matMenuTriggerFor]="proMenu" class="nav-button">Pro</button>
      <mat-menu #proMenu="matMenu" class="menu">
        <button mat-menu-item routerLink="/pro/cycles" routerLinkActive="active">Cycles</button>
        <button mat-menu-item routerLink="/pro/exercises" routerLinkActive="active">Exercises</button>
      </mat-menu>
    </li>
    <li><matButton routerLink="/free" routerLinkActive="active">Workouts</matButton></li>
    <li>
      <button mat-icon-button [matMenuTriggerFor]="accountMenu"><mat-icon>account_circle</mat-icon></button>
      <mat-menu #accountMenu="matMenu" class="menu">
        <button mat-menu-item routerLink="/free/myaccount" routerLinkActive="active">My Account</button>
        <button mat-menu-item routerLink="/free/logout">Logout</button>
      </mat-menu>
    </li>
  </ul>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>

<mat-toolbar class="footer" color="primary">
  <p>2022 WigeDev</p>
</mat-toolbar>
