h1 {
  font-size: 32px;
  letter-spacing: 8px;
  line-height: 4px;
  margin-top: 16px;
}

caption {
  font-size: 12px;
  margin: 0;
}

.header,
.footer {
  padding: 8px;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  border-bottom: solid white 1px;
  box-shadow: 0 12px 6px #0008;
}

.footer {
  border-top: solid white 1px;
}

.navigation {
  list-style: none;
}

.navigation li {
  display: inline;
  margin-right: 16px;
}

.content {
  margin: 16px;
  padding-top: 80px;
}

.nav-button {
  font-size: 20px;
}

.title {
  text-align: center;
  margin: 8px;
}
