<mat-toolbar class="header flex" color="primary">
  <h1>WFL</h1>
  <span class="spacer"></span>
  <ul class="navigation">
    <li><matButton routerLink="/home" routerLinkActive="active">Home</matButton></li>
    <li><matButton routerLink="/signin" routerLinkActive="active">Sign In</matButton></li>
  </ul>
  <ul class="navigation">
    <li><matButton routerLink="/pro" routerLinkActive="active">Pro</matButton></li>
    <li><matButton routerLink="/free" routerLinkActive="active">Workouts</matButton></li>
    <li>Account</li>
  </ul>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>

<div class="footer">
  <p>2022 WigeDev</p>
</div>
