.header,
.footer {
  border: solid black 1px;
  padding: 8px;
}

.header {
  position: fixed;
  top: 0;
}

.navigation {
  list-style: none;
}

.navigation li {
  display: inline;
  margin-right: 16px;
}

.content {
  margin: 16px;
  padding-top: 80px;
}
