<div class="header flex">
  <h1>WigeDev Fitness Log</h1>
  <span class="spacer"></span>
  <ul class="navigation">
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/signin" routerLinkActive="active">Sign In</a></li>
  </ul>
  <ul class="navigation">
    <li><a routerLink="/pro" routerLinkActive="active">Pro</a></li>
    <li><a routerLink="/free" routerLinkActive="active">Workouts</a></li>
    <li>Account</li>
  </ul>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>

<div class="footer">
  <p>2022 WigeDev</p>
</div>
