h1 {
  text-align: center;
}

button {
  margin-top: 16px;
  width: 100%;
}

mat-form-field {
  width: 100%;
}

.form {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 80px;
  padding: 16px;
  color: white;
  background-color: #8b6b61;
  border: solid white 1px;
}

.mat-radio-button {
  margin-left: 16px;
  margin-bottom: 16px;
}
