<h1>Sign Up</h1>

<div class="form">
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input type="email" matInput placeholder="lifter@gmail.com">
  </mat-form-field><br>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input type="password" matInput>
  </mat-form-field><br>
  <mat-form-field appearance="outline">
    <mat-label>Confirm Password</mat-label>
    <input type="password" matInput>
  </mat-form-field><br>
  <p>Subscription:</p>
  <div>
    <input type="radio" id="pro" >
    <label for="pro">WFL Pro ($1/month)</label><br>
    <input type="radio" id="free">
    <label for="free">WFL Free</label>
  </div>
  <button mat-raised-button color="accent">Create Account</button>
</div>
