
<div mat-dialog-content>
  <mat-form-field color="accent">
    <mat-label>Workout Date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <div class="flex">
    <span>
      Sets
    </span>
    <span class="spacer"></span>
    <span>
      Completed Reps
    </span>
  </div>
  <hr>
  <button mat-mini-fab (click)="openSetDialog()"><mat-icon>add</mat-icon></button>
  <hr>
  <button mat-raised-button color="accent">Save</button>
  <button mat-raised-button color="accent" (click)="openDeleteDialog()"><mat-icon>delete</mat-icon>Delete Workout</button>
  <button mat-button mat-dialog-close>Cancel</button>
</div>
