span {
  margin-right: 4px;
  margin-top: 12px;
}

input.completed-reps {
  border: solid white 1px;
  width: 36px;
  text-align: center;
}

.mat-raised-button {
  display: block;
  width: 100%;
  margin-top: 16px;
}

.col-header {
  font-weight: bold;
}
