<div>
  <button mat-raised-button color="accent" (click)="openDialog()">New Workout</button>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let workout" (click)="openDialog(workout.date)" class="clickable">{{ workout.date | date:'mediumDate':'GMT' }}</td>
    </ng-container>

    <ng-container matColumnDef="setCount">
      <th mat-header-cell *matHeaderCellDef>No. of Sets</th>
      <td mat-cell *matCellDef="let workout" class="fixed">{{ workout.setCount }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>
