<h1>What does WFL do?</h1>

<div>
  <img alt="barbell" src="../../assets/barbell.jpg" class="float-right" />

  <p>
    WFL is a fitness logging app designed to make planning and documenting your resistance training workouts a breeze. WFL is
    designed to work well both on mobile and desktop browsers. We utilize a dark theme to optimize
    battery life on mobile devices. You will find the calendar-based interface to be enjoyable to use.
  </p>
</div>

<h1>Why do I need it?</h1>

<div>
  <img alt="bodybuilder" src="../../assets/bodybuilder.jpg" class="float-left" />
  <p>
    Well, the truth is you don't need this app, or any app for that matter, to log your workouts. You could log your workouts just fine
    using a pen and paper. As a fitness enthusiast myself, I understand how important it is to have a workout journal, even if it is just
    a pen and paper. Excel also lends itself well to be used as a fitness log if you are already familiar with using it. But these methods
    aren't ideal. Who wants to carry a journal to the gym in this day & age? WFL negates the need for you to bring more than your mobile
    device to the gym while also being intuitive to use.
  </p>
</div>

<div class="comparison">
  <h1>WFL Plan Comparison</h1>
  <table>
    <thead>
      <th>
        WFL Free
      </th>
      <th>
        WFL Pro ($2/month)
      </th>
    </thead>
    <tbody>
      <tr>
        <td>
          No Ads!
        </td>
        <td>
          No Ads!
        </td>
      </tr>
      <tr>
        <td>
          One active cycle
        </td>
        <td>
          Unlimited cycles
        </td>
      </tr>
      <tr>
        <td>
          Common exercises only
        </td>
        <td>
          Customize exercises
        </td>
      </tr>
    </tbody>
  </table>
  <button mat-raised-button routerLink="/signup" color="accent">
    Start Logging Now!
  </button>
</div>
