<h1>What does WFL do?</h1>

<div>
  <img alt="barbell" src="../../assets/barbell.jpg" class="float-right" />

  <p>
    WFL is a fitness logging app designed to make planning and documenting your resistance training workouts a breeze. WFL is
    designed to work well both on mobile and desktop browsers. We utilize a dark theme to optimize
    battery life on mobile devices. I think you will find the calendar-based interface to be enjoyable to use. Since this is a web app,
    you can run WFL on anything that has a modern web browser, whether it's a mobile phone, a tablet, a Windows PC, or a Mac.
  </p>
</div>

<h1>Why do I need it?</h1>

<div>
  <img alt="bodybuilder" src="../../assets/bodybuilder.jpg" class="float-left" />
  <p>
    As a fitness enthusiast myself, I understand how important it is to have a workout journal. But, the truth is you don't need this app,
    or any app for that matter, to log your workouts. You could log your workouts just fine using a pen and paper. Excel also lends itself
    well to be used as a fitness log if you are already familiar with using it. But, these methods aren't ideal. Who wants to carry a journal
    to the gym in this day & age? Who has time to manage Excel spreadsheets when they're at the gym? I built this app because I was tired of
    managing spreadsheets and I had trouble finding a fitness logging app that was both intuitive and reliable. WFL negates the need for you
    to bring more than your mobile device to the gym while also being intuitive to use.
  </p>
</div>

<div class="comparison">
  <h1>WFL Plan Comparison</h1>
  <table>
    <thead>
      <th>
        WFL Free
      </th>
      <th>
        WFL Pro ($2/month)
      </th>
    </thead>
    <tbody>
      <tr>
        <td>
          No Ads!
        </td>
        <td>
          No Ads!
        </td>
      </tr>
      <tr>
        <td>
          One cycle only
        </td>
        <td>
          Unlimited cycles
        </td>
      </tr>
      <tr>
        <td>
          Begginner exercises only
        </td>
        <td>
          Unlimited custom exercises
        </td>
      </tr>
    </tbody>
  </table>
  <button mat-raised-button routerLink="/signup" color="accent">
    Start Logging Now!
  </button>

  <h1>What is a Cycle?</h1>
  <p>A cycle is just a logical grouping of workouts. You can think of it like a folder to put all your workouts in. When you are a beginner
    strength athlete, it may not make much sense to seperate your workouts like this. Once you enter the intermediate to advanced stages of
    weightlifting though, it's a good idea to start separating your workouts into macrocycles and mesocycles. When you switch from Starting
    Strength to Texas Method, for instance, you are entering a new macrocycle and should differentiate those workouts in your journal from
    your Starting Strength workouts.
  </p>

  <h1>Beginner Exercises</h1>
  <p>What exercises are included with WFL Free? WFL Free includes just the exercises you would need to perform a beginner strength training
    program like Starting Strength or StrongLifts 5x5.</p>

  <ul>
    <li>
      Squat
    </li>
    <li>
      Bench Press
    </li>
    <li>
      Deadlift
    </li>
    <li>
      Overhead Press
    </li>
    <li>
      Power Clean
    </li>
    <li>
      Barbell Row
    </li>
  </ul>

    <p>Both of these are excellent programs to start on because they involve compound barbell
    movements. Once you are ready for an intermediate program, or if you'd like to use a program that involves isolation movements like Bigger
    Leaner Stronger, then you should upgrade to WFL Pro so you can have more flexibility.
  </p>
</div>
