h1 {
  clear: both;
  text-align: center;
}

table {
  text-align: left;
  border: solid white 1px;
  padding: 8px;
  width: 100%;
}

td {
  padding-right: 8px;
}

button {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 24px;
}

.center {
  text-align: center;
}

.float-right {
  float: right;
  margin-left: 16px;
  margin-bottom: 16px;
}

.float-left {
  float: left;
  margin-right: 16px;
  margin-bottom: 16px;
}

.comparison {
  margin-left: 20%;
  margin-right: 20%;
}
