<mat-form-field appearance="fill">
  <mat-label>Exercise</mat-label>
  <mat-select>
    <mat-option value="bench">Bench Press</mat-option>
    <mat-option value="squat">Squat</mat-option>
    <mat-option value="deadlift">Deadlift</mat-option>
  </mat-select>
</mat-form-field><br>
<div>
  <mat-form-field appearance="fill">
    <mat-label>Weight</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>kg/lbs</mat-label>
    <mat-select>
      <mat-option value="lbs">LBS</mat-option>
      <mat-option value="kg">KG</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<mat-form-field appearance="fill">
  <mat-label>Reps</mat-label>
  <input matInput>
</mat-form-field><br>
<hr>
<button mat-raised-button>Save</button><br>
<button mat-button mat-dialog-close>Close</button>
